/* openedRequest.js css tags:*/
/* save and close button */
#Save_Close {
  float: right;
  width: 80px;
  text-align: center;
  margin-top: -15px;
  outline-style: solid;
  outline-width: 0.25px;
  border-radius: 5px;
  margin-left: 5px;
  line-height: 1.02;
  scale: 0.78;
  transition: all 0.25s;
}
#Save_Close:hover {
  scale: 0.8;
}
/* I button to show tooltip */
#newI_Tag {
  cursor: pointer;
  pointer-events: all;
  margin-top: 40px;
  margin-left: 10px;
}
#tooltip_info.tooltipShown {
  display: block;
}
/* Text inside tooltip */
#tooltip_info > span > label {
  cursor: text;
}
/* descriptionDiv */
/* #descText {
  min-height: 80px;
  max-height: none;
  margin-left: 10px;
  height: 300px;
  overflow: auto;
  resize: vertical;
} */
/* #description-tab > div.ml-2.description-box.resize-desc {
  max-height: none;
} */

#descText {
  overflow: none;
  /* width: 30vw; */
}
#descText .email {
  padding: 10px;
}
.resize-desc {
  resize: vertical;
  min-height: 80px;
  max-height: none;
  height: 300px;
}
/* Main view tags: */
.replyNote {
  outline-style: solid;
  outline-width: 0.5px;
  outline-color: #63fbf0;
  transition: all 0.15s;
  border-radius: 5px;
}
#personalNote {
  outline-style: solid;
  min-width: 50px;
  max-width: 32vw;
  outline-width: 0.25px;
  background-color: rgba(230, 230, 230, 0);
  outline-color: #63fbf0;
  border-radius: 5px;
  margin-top: -15px;
  resize: both;
  float: left;
  color: #8efdfb;
}
#noteBTN {
  scale: 2;
  cursor: pointer;
  user-select: none;
}
.selectEL:nth-child(2n) {
  background-color: "#ffffff";
}
